################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorServerTest/obj
/BlazorServerTest/bin/Debug/net7.0
