@using Data.Sources;

<h3>The List of all Sources</h3>

<MudSelect T="@Source" Lable="Source:" Variant="Variant.Outlined" MultiSelection="true" ToStringFunc="@(x => x.Name)" @bind-SelectedValues="SelectedSources">

    @foreach (var source in AllSources)
    {
        <MudSelectItem Value=@source>@source.Name</MudSelectItem>
    }
</MudSelect>

<SourceComponent OneSource="SelectedSource"></SourceComponent>

